/*-----------------------------------*\
  #HERO
\*-----------------------------------*/

.hero-list { display: none; }

.hero {
  position: relative;
  background-color: var(--yellow-green);
  padding-block: calc(var(--section-padding) + 60px) 0;
  margin-block-end: var(--section-padding);
}

.hero .container {
  display: grid;
  gap: 50px;
}

.hero-title {
  color: var(--white);
  text-align: center;
  line-height: 1.4;
  margin-block-end: 30px;
}

.hero-title .span {
  display: inline;
  color: var(--smoky-black);
}

.hero .btn { margin-inline: auto; }

.hero .btn:is(:hover, :focus-visible) {
  background-color: var(--white);
  color: var(--black);
}

.hero-banner { 
  margin-block-end: -15%; 
}
