.login-container {
    padding: 13rem 0;
    background-color: var(--yellow-green);
}

.form-card {
    flex-direction: column;
    background-color: var(--smoky-black);
}

.dd-field {
    width: 35rem;
    border: 1px solid var(--smoky-black);
}

.btn-3 {
    background: var(--yellow-green) !important;
}

.login-link{
    color:var(--yellow-green);
}

.login-banner {
    border: 10px solid var(--smoky-black);
}